{% set record = __SELF__.record %}
{% set displayColumn = __SELF__.displayColumn %}
{% set notFoundMessage = __SELF__.notFoundMessage %}

{% if record %}

<h1 id="human-name">{{ record.name }}</h1>

<div class="row">
    <div class="col-md-3">
        {% if record.headshot.path %}
        <img class="img-responsive" src="{{ record.headshot.path }}" alt="{{ record.headshot.description }}">
        {% endif %}

        <div class="human--info">
            {% if record.position %}
            <p>{{ record.position }}</p>
            {% endif %}

            {% if record.pronouns %}
            <p><i>{{ record.pronouns }}</i></p>
            {% endif %}

            {% if record.email %}
            <p><a href="mailto:{{ record.email }}">{{ record.email }}</a></p>
            {% endif %}

            {% if record.twitter %}
            <p><a href="https://twitter.com/{{ record.twitter }}" target="_blank"><i class="fa fa-twitter"></i> @{{
                record.twitter }}</a></p>
            {% endif %}
        </div>
    </div>
    <div class="col-md-9 mt-20-xs">
        {{ record.bio|raw }}
    </div>
</div>

{% else %}
{{ notFoundMessage }}
{% endif %}
